@import "tailwindcss";
@config "../tailwind.config.js";

body {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* Default light theme colors */
:root {
  color: #213547;
  background-color: #ffffff;
}

a:hover {
  color: #747bff;
}
